@import "/colors.scss";

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20em;
}

.hide {
  display: none;
}

@media (max-width: 480px) {
  .container {
    padding-top: 10em;
    max-width: 300px;
    margin: 0 auto;
  }
}
