@import "colors.scss";

.container {
  background-image: url("/images/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60em;
  overflow: hidden;
}

.text {
  color: $OrangePeel;
  margin-top: 5em;
  text-shadow: 2px 1px $Black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 0.5em;
  width: 14em;
  margin: 1em;
  background-color: $Moonstone;
  color: $White;
}

.buttons {
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .text {
    display: flex;
    text-align: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .index{
    margin-top: -13em;
  }
}

@media (max-width: 650px) {
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    display: flex;
    text-align: center;
  }
}

@media (max-width: 1280px) {
  .container {
    height: 60em;
    margin-left: -15em;
  }

  .text {
    margin-top: 20em;
    margin-left: 15em;
  }

  .buttons {
    margin-left: 15em;
  }

  .title {
    font-size: 70px;
  }

  .subtitle {
    font-size: 50px;
  }
}

@media (min-width: 1281px) {
  .text {
    margin-left: 7em;
    margin-top: 20em;
  }

  .buttons {
    margin-left: 7em;
  }

  .button {
    width: 20em;
    height: 4em;
  }

  .title {
    font-size: 90px;
  }

  .subtitle {
    font-size: 70px;
  }
}
