@import "/colors.scss";

.container {
display: flex;
flex-direction: column;
align-items: center;
}

.username,
.password {
  margin: 1em 2em 1em 2em;
}

.button,
.margin {
  margin: 3em;
}

.lessmargin {
  margin: 0em 0em 0em 2.5em;
}

.title {
  display: flex;
  justify-content: center;
}
