@import "/colors.scss";

.container {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  background-color: $OrangePeel;
  border-radius: 10px 50px;
  padding: 1em;
}

.places,
.myData,
.welcome {
  margin: 1em 0.5em 0.5em 0.5em;
  padding: 1.5em;
  border: 1px solid $Black;
  border-radius: 40px;
}

.welcome {
  text-align: center;
}

.usersheading {
  padding: 1.5em;
  background-color: $Isabelline;
  border-radius: 40px;
}
