@import "/colors.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $Moonstone;
  padding: 1em;
  border-radius: 40px;
}

.title {
}

.addbutton {
  padding: 0.4em;
}
