@import "/colors.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $CaribbeanCurrent;
  padding: 2em 1em;
  border-radius: 40px;
  color: $White;
}

.addbutton {
  padding: 0.4em;
}
