@import '/colors.scss';

.ul {
  display: flex;
  justify-content: right;
  background-color: $Moonstone;
  align-items: center;
}

.li {
  margin: 1em;
  color: $Isabelline;
}

@media (max-width: 480px) {
  .li {
    display: none;
  }
}

@media (min-width: 481px) {
  .burger {
    display: none;
  }
}
