@import "/colors.scss";

.list {
  background-color: $Moonstone;
  border-radius: 10px 40px 40px 40px;
  padding: 1.5em 1em;
  margin: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
}
